
/*
COMPOSE Invoice ENTRY
Styles the compose invoice entry form.
*/
#invoices_create div.form-label
{
  float: none;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 5px 0px;
}
html[dir="rtl"] #invoices_create div.form-label
{
  text-align: right;
}
#invoices_create div.form-element
{
  float: none;
}






/*
BROWSE InvoiceS
Styles the browse invoices page and the
manage invoice entries page.
*/
ul.invoices_browse
{
  display: flex;
	flex-wrap:wrap;
}
ul.invoices_browse span h3
{
  margin: 0;
}
ul.invoices_browse > li {
	min-width: 31%;
	max-width: 31%;
	width: 100%;
	margin-right: 15px;
	margin-bottom: 15px;
	position:relative;
	border-width:1px;
	border-bottom-width:4px;
	border-radius:10px;
	overflow: hidden;
	margin: 0 9px 20px 9px;
}
[dir="rtl"] ul.invoices_browse > li{
	margin-right:0;
	margin-left: 20px;
}
ul.invoices_browse > li .invoices_browse_photo
{
	position:relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
}
ul.invoices_browse > li .invoices_browse_photo span{
	border:0;
}
html[dir="rtl"] ul.invoices_browse > li .invoices_browse_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
ul.invoices_browse > li .invoices_browse_options
{
  position:absolute;
	top:5px;
	left:5px;
}
html[dir="rtl"] ul.invoices_browse > li .invoices_browse_options
{
  float: left;
  padding-left: 0px;
  padding-right: 20px;
}
ul.invoices_browse > li .invoices_browse_options > a
{
  clear: both;
  display: block;
  font-size: 0.9em;
  margin: 0 5px;
  padding-bottom: 2px;
  padding-top: 2px;
	color:#fff;
}
ul.invoices_browse > li .invoices_browse_info
{
  padding:15px;
}
ul.invoices_browse > li .invoices_browse_info_title a,
ul.invoices_browse > li .invoices_browse_info_title h3
{
  font-weight: bold;
}
ul.invoices_browse > li .invoices_browse_info_date
{
  font-size: .9em;
  color: $theme_font_color_light;
  margin-top: 5px;
}
ul.invoices_browse > li .invoices_browse_info .stat_info
{
  margin: 5px 0;
	text-align:center;
}
ul.invoices_browse > li .invoices_browse_info .stat_info span
{
  margin-right: 8px;
}
ul.invoices_browse > li .invoices_browse_info .views_invoice
{
  display:none;
}
ul.invoices_browse > li .invoices_browse_info_blurb
{
  margin-top: 5px;
	word-break: break-all;
}
ul.invoices_browse > li .invoices_browse_info_blurb a{
	display:block;
}
.layout_invoice_browse_search,
.layout_invoice_browse_menu_quick
{
  margin-bottom: 15px;
}
.layout_page_invoice_index_view .layout_core_content
{
  margin-bottom: 15px;
}
.layout_page_invoice_index_view .layout_core_comments h3
{
  display: none;
}



/*
VIEW Invoice
Styles both the 'view invoice' and the 'view invoice entry'
pages, including the right-side gutter column by default.
*/
form.invoice_search_form
{
  position: relative;
  margin-top: 20px;
}
ul.invoices_entrylist
{
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
ul.invoices_entrylist > li
{
  padding-bottom: 10px;
  border-bottom-width: 1px;
  margin-bottom: 10px
}
ul.invoices_entrylist h3
{
  margin-bottom: 1px;
}
ul.invoices_entrylist .invoice_entrylist_entry_date
{
  font-size: 8pt;
  margin-bottom: 5px;
  color: $theme_font_color_light;
}
ul.invoices_entrylist .invoice_entrylist_entry_body
{
  padding: 5px 5px 5px 0px;
}
ul.invoices_entrylist .invoice_entrylist_entry_body img
{
  max-width: 100%;
}
ul.invoices_entrylist .invoice_entrylist_entry_body + .buttonlink
{
  margin-top: 5px;
}
ul.invoices_entrylist + .comments
{
  padding-top: 10px;
}
div.invoice_entrylist_entry_body.rich_content_body >p, div.invoice_entrylist_entry_body.rich_content_body > ol{
padding-bottom: 1em;
}
.rich_content_body blockquote {
  border: 1px dashed $theme_border_medium_color;
  background: $theme_body_background_color;
  padding: 10px;
  margin: 10px 10px;
  display: block;
}

/*
#global_page_invoice-index-view .layout_left,
#global_page_invoice-index-list .layout_left
{
  border: none;
  margin: 0px 10px;
  padding: 10px;
  background-color: $theme_foreground_background_color;
}
#global_page_invoice-index-view .layout_left > div,
#global_page_invoice-index-list .layout_left > div
{
  border: none;
  padding: 0;
  margin: 0;
}
*/
#global_page_invoice-index-view .invoices_gutter_photo > img,
#global_page_invoice-index-list .invoices_gutter_photo > img
{
  width: 98%;
  display: block;
}
#global_page_invoice-index-view .invoices_gutter_name,
#global_page_invoice-index-list .invoices_gutter_name
{
  display: block;
  font-weight: bold;
  margin: 10px 0px 15px 0px;
}
ul.invoices_gutter_options .buttonlink
{
  padding-top: 2px;
  padding-bottom: 2px;
}
.layout_invoice_gutter_search h4,
.layout_invoice_gutter_search h4
{
  margin: 20px 0px 5px 0px;
  text-transform: uppercase;
}
.layout_invoice_gutter_search ul > li,
.layout_invoice_gutter_search ul > li
{
  margin-bottom: 2px;
}
ul.invoices_gutter_options > li,
ul.invoices_gutter_options > li
{
  margin: 3px 0px 3px 0px;
}




/* ACTION TYPE ICONS */
.activity_icon_comment_invoice:before
{
  content: "\\f075";
  font-family:'Font Awesome\ 5 Free';
}




/* ITEM TYPE ICONS */
.item_icon_invoice:before,
.item_icon_invoice_entry:before
{
  content: "\\f075";
  font-family:'Font Awesome\ 5 Free';
}

/* NOTIFICATION TYPE ICONS */
.notification_type_invoice_subscribed_new:before
{
  content: "\\f0f6";
}

/* ICONS */
.icon_invoice_new,
.icon_invoice_unsubscribe
{
  position:relative;
}

.icon_invoice_new:before
{
  content: "\\f15c";
}
.icon_invoice_new:after
{
  content: "\\f055";
	font-weight: 900 !important;
}

.icon_invoice_unsubscribe:before
{
  content: "\\f09e";
 }
.icon_invoice_unsubscribe:after
{
  content: "\\f056";
	font-weight: 900 !important;
}

.icon_invoice_edit:before
{
  content: "\\f303";
	font-weight:900 !important;
}
.icon_invoice_delete:before
{
  content: "\\f056";
	font-weight:900 !important;
}
.icon_invoice_style:before
{
  content: "\\f1fc";
	font-weight:900 !important;
}
.icon_invoice_viewall:before
{
  content: "\\f15c";
}
.icon_invoice_subscribe:before
{
  content: "\\f09e";
	font-weight: 900 !important;
}




/*
FEED ITEMS
Styles items with classified attachments in the feed.
*/
ul.feed .feed_attachment_invoice
{
  display: block;
  overflow: hidden;
  margin: 0px 5px 5px 0px;
  vertical-align: top;
}
html[dir="rtl"] ul.feed .feed_attachment_invoice
{
  margin: 0px 0px 5px 5px;
}
ul.feed .feed_attachment_invoice > div > a
{
  display: block;
  margin-bottom: 10px;
}
ul.feed .feed_attachment_invoice > div > a > img
{
  display:block;
  max-width:100%;
	width:100%;
  max-height:250px;
	object-fit:cover;
	object-position:center;
  vertical-align: top;
}
ul.feed .feed_attachment_invoice > div > div
{
  overflow: hidden;
}



/*
Invoice OWNER IMAGE
*/
.layout_invoice_gutter_photo
{
  position:relative;
  margin-bottom:10px;
}
.invoices_owner_icon
{
  display: inline-block;
  margin-top: 15px;
  width: 22%;
}
.invoices_owner_icon img
{
  width:100%;
  height:auto;
  box-sizing:border-box;
}
#global_page_invoice-index-view .invoices_owner_icon + .invoices_gutter_name
{
  box-sizing: border-box;
  display: inline-block;
  margin:0;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 76%;
  position:absolute;
  bottom:17px;
  right:0;
}
[dir="rtl"] #global_page_invoice-index-view .invoices_owner_icon + .invoices_gutter_name
{
  padding-left: 0px;
  padding-right: 8px;
  right: auto;
  left: 0;
}

/* Profile Tabs Invoices */
.layout_invoice_profile_invoices ul.invoices_browse > li .invoices_browse_photo > a
{
  display: block;
  height: 100%;
}
.layout_invoice_profile_invoices ul.invoices_browse > li .invoices_browse_info_date
{
  margin-top:2px;
}

/* ---------- Responsive CSS -------------*/
@media (max-width:600px)
{
    ul.invoices_browse > li .invoices_browse_info
    {
     clear: both;
     padding-top: 5px;
    }
    .layout_invoice_profile_invoices .invoices_browse_photo
    {
     display:none;
    }
}
.layout_page_invoice_index_manage ul.invoices_browse > li .invoices_browse_photo span:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: .5;
}
/* LANDING PAGE InvoiceS */
.layout_invoice_landing_page_invoices {
  padding: 60px 0 !important;
}
.invoices_landing_page {
	max-width:$theme_content_width;
	margin:0 auto;
}
.invoices_landing_page .invoices_photo > a {
	display: block;
	height: 250px;
}
.invoices_landing_page .info * {
  text-align: center;
}
.invoices_landing_page > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
.invoices_landing_page > ul > li {
	margin: 25px;
	max-width: 29%;
	min-width: 29%;
	width:100%;
	background:$theme_list_background_color;
	box-shadow: 0 6px 6px #e0e0e0;
}
.invoices_landing_page .title > a {
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	font-size: 20px;
	font-weight:400;
}
.invoices_landing_page .owner,
.invoices_landing_page .owner a{
	color:$theme_button_background_color;
	text-transform: uppercase;
	font-size:16px;
}
.invoices_landing_page .info {
  padding: 25px;
}
.invoices_landing_page .description {
  margin-top: 20px;
	font-size: 110%;
  line-height: 160%;
	word-break: break-all;
}
.invoices_landing_page .stats{
	margin:5px 0;
}
@media(max-width:767px){
	.invoices_landing_page > ul{
		display:block;
	}
	.invoices_landing_page > ul > li{
		max-width:90%;
		margin: 20px;
    box-sizing: border-box;
	}
	ul.invoices_browse > li{
		max-width:100%;
		margin-right:0;
	}
}
@media (min-width:768px) and (max-width:1024px){
  .invoices_landing_page > ul > li{
    max-width: 25%;
    min-width: 25%;
  }
  .invoices_landing_page .invoices_photo > a{
    height: 120px;
  }
  .invoices_landing_page .description {
    display: none;
  }
}
/* MANAGE invoiceS */
ul.list_wrapper .invoices_photo {
    float: left;
    overflow: hidden;
    width: 180px;
    height: 120px;
}
ul.list_wrapper .invoices_options {
    float: right;
    overflow: hidden;
    width: 120px;
    padding-left: 15px;
}
ul.list_wrapper .invoices_info {
    padding-left: 10px;
    overflow: hidden;
}